@tailwind base;
@tailwind components;
@tailwind utilities;

body {background: #FAFAFA}

@layer components {
  .subheader {
      @apply text-2xl border border-black p-3 pt-5 text-black tracking-[18px] font-light;
      writing-mode: vertical-rl;
  }
  .product-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  label{
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
  }
  input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  select{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }
  .button{
    @apply w-40 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm  py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  }
  .aside-item{
    @apply flex items-center p-3 text-base font-normal  rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700
  }
  .icon-button{
    @apply text-gray-600 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 rounded
  }
  .title{
    @apply text-2xl sm:text-3xl leading-none font-bold text-gray-900
  }
  .subtitle{
    @apply text-base font-normal text-gray-500
  }
  .input-icon{
    @apply absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none
  }
  .tag{
    @apply bg-gray-200 text-gray-800 py-2 text-sm font-medium inline-flex items-center justify-center px-4 rounded-full
  }
}